{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if category %}
<div>
  <div>
    <p class="text-center"><a href="{% url 'home' %}">Our categories</a></p>
  </div>
</div>
{% endif %}
<div>
{% if category %}
<img src="{{category.image.url}}" style="width:1600px; height:400px;">
  </div>

<br>
<div>
  <h1>{{category.name}}</h1>
  <p>{{category.description}}</p>
</div>
{% else %}
<div>
  <img src="{% static 'img/gs.jpg' %}" alt="Wallpaper_image" style="width:1100px; height:500px;" >
</div>
<br>
<div>
  <h1 style="text-align:center; color:red; font-size: 56px;"><i>Explore our Product Collections!!!</i></h1>
  <p style="font-family: Arial;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
</div>
{% endif %}

<div class="container">
  <div class="row">
  {% for product in products %}
    <div class="col-9 col-sm-12 col-md-4">
  <div class="card" style="width: 18rem;">
  <a href="{{product.get_url}}"><img class="card-img-top" src="{{product.image.url}}"alt="Card image cap" style="width:20rem; height:200px;" ></a>
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">{{product.price}}</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  <br>
<br>
  </div>
</div>
</div>
  {% endfor %}
</div>
  </div>
{% endblock %}